/* .cnt-1{
    margin: 20px auto;
    border: 2px solid ;
    border-color: #53ace4;
    width: 350px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    margin-bottom: 40px;

}
.cnt-1 span{
    color: rgb(221, 132, 59);
}

.actions{
    margin-top: 5px;
    text-align: right;
}
button {
    background-color: #53ace4;
    padding: 2px 4px;
    border: none;
    color: white;
    outline: none;
    margin-left: 8px;
}

button:hover{
    background-color: red;
    cursor: pointer;
}

.list{
    margin-top: 50px;  
}

li{
    list-style: none;
    outline: none;
}
li:hover{
    cursor: pointer;
} */
/* .form-control{
    width: 60%;
} */
.list-container {
    width: 100%;
    margin: 10px auto;
}
.flex-item{
    padding: 5px;
    margin-left: 30px;
}
.card{
    width: 260px;
    /* margin: 10px auto; */
}
.card:hover{
    cursor: pointer;
}
.card a {
    color: white;
}
li{
    list-style: none;
}
.card p{
    font-size: 12px;
}
/* ul {
    display: inline-block;
    margin: 0 10px;
} */

@media screen and (max-width: 600px){
    .flex-item{
        margin: 5px auto;
    }
    /* ul{
        width: 60%;
        margin: 10px auto;
    } */
}